# GreenScape - Machine Learning Algorithm Lifecycle

### This file serves as a documentation for Machine Learning Project Lifecycle of Team GreenScape's project member - Kacper (personal contribution)

### 1. Data Preprocessing (from final merged CSV file)

In [1]:
import pandas as pd

# Load the dataframe from the 'Output.csv' file
df = pd.read_csv('Output.csv')

# Display information about the dataframe
df.info()

C:\Users\kacpe\AppData\Local\Temp\ipykernel_70352\3246404991.py:4: DtypeWarning: Columns (22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Output.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5169348 entries, 0 to 5169347
Data columns (total 48 columns):
 #   Column                                                                                              Dtype
---  ------                                                                                              -----
 0   Unnamed: 0.1                                                                                        int64
 1   Districts and neighbourhoods                                                                        object
 2   Registered nuisance (number)                                                                        int64
 3   year_x                                                                                              int64
 4   latitude                                                                                            float64
 5   longitude                                                                                           float64
 6   cbs_grid_code                                                                                       object
 7   date                                                                                                object
 8   green_score                                                                                         float64
 9   livability_score_x                                                                                  float64
 10  neighborhood_name                                                                                   object
 11  TotalHouses                                                                                         int64
 12  Population                                                                                          int64
 13  Unnamed: 0                                                                                          int64
 14  index                                                                                               int64
 15  neighborhood                                                                                        object
 16  regions                                                                                             object
 17  year_y                                                                                              int64
 18  livability_score_y                                                                                  float64
 19  income                                                                                              int64
 20  population                                                                                          int64
 21  working_population                                                                                  int64
 22  total_job_growth                                                                                    object
 23  Neighborhood                                                                                        object
 24  Income Index                                                                                        float64
 25  Average Green Score                                                                                 float64
 26  Average Income                                                                                      object
 27  Year                                                                                                int64
 28  Electricity Consumption: total (kwh)                                                                int64
 29  Natural Gas Consumption (m3)                                                                        float64
 30  Energy Consumption (including regenerative heat, solar power, motorways) (TJ)                       float64
 31  Electricity consumption of all homes (kwh)                                                          float64
 32  Gas consumption all homes (m3)                                                                      float64
 33  Electricity consumption companies and institutions (kwh)                                            float64
 34  Gas consumption by companies and institutions (m3)                                                  float64
 35  Power of registered solar panels homes (kw peak)                                                    float64
 36  Power of registered solar panels companies (kw peak)                                                float64
 37  Number of installations with registered solar panels in homes (number)                              float64
 38  Number of installations with registered solar panel companies (number)                              float64
 39  Renewable energy (%)                                                                                float64
 40  Renewable electricity (%)                                                                           float64
 41  CO2 emissions Traffic and transport incl. motorways and roads, excl. electr. rail traffic (tonnes)  float64
 42  CO2 emissions companies and institutions (tonnes)                                                   float64
 43  CO2 emissions from homes, temperature corrected (tonnes)                                            float64
 44  CO2 emissions total (tonnes)                                                                        float64
 45  Energy Consumption (including regenerative heat, solar power, motorways) (kwh)                      float64
 46  Renewable electricity (kwh)                                                                         float64
 47  Renewable energy (kwh)                                                                              float64
dtypes: float64(26), int64(13), object(9)
memory usage: 1.8+ GB

In [2]:
# Drop specified columns from the dataframe
df = df.drop(columns=[
    'Unnamed: 0.1', 'Districts and neighbourhoods', 'cbs_grid_code', 'Unnamed: 0', 'index', 'neighborhood', 'regions', 
    'year_y', 'livability_score_y', 'population', 'Neighborhood', 'Income Index', 'Average Green Score', 'latitude', 
    'longitude', 'date', 'working_population', 'Average Income', 'Year', 'Natural Gas Consumption (m3)', 
    'Energy Consumption (including regenerative heat, solar power, motorways) (TJ)', 
    'Electricity consumption of all homes (kwh)', 'Electricity consumption of all homes (kwh)', 
    'Electricity consumption companies and institutions (kwh)', 'Gas consumption by companies and institutions (m3)', 
    'Power of registered solar panels homes (kw peak)', 'Power of registered solar panels companies (kw peak)', 
    'Number of installations with registered solar panels in homes (number)', 
    'Number of installations with registered solar panel companies (number)', 'Renewable energy (%)', 
    'Renewable electricity (%)', 'CO2 emissions Traffic and transport incl. motorways and roads, excl. electr. rail traffic (tonnes)', 
    'CO2 emissions companies and institutions (tonnes)', 'CO2 emissions total (tonnes)', 
    'Energy Consumption (including regenerative heat, solar power, motorways) (kwh)', 'Renewable electricity (kwh)', 
    'Renewable energy (kwh)'
])

In [3]:
# Printing out information on the dataframe, after removing unnecessary columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5169348 entries, 0 to 5169347
Data columns (total 12 columns):
 #   Column                                                    Dtype
---  ------                                                    -----
 0   Registered nuisance (number)                              int64
 1   year_x                                                    int64
 2   green_score                                               float64
 3   livability_score_x                                        float64
 4   neighborhood_name                                         object
 5   TotalHouses                                               int64
 6   Population                                                int64
 7   income                                                    int64
 8   total_job_growth                                          object
 9   Electricity Consumption: total (kwh)                      int64
 10  Gas consumption all homes (m3)                            float64
 11  CO2 emissions from homes, temperature corrected (tonnes)  float64
dtypes: float64(4), int64(6), object(2)
memory usage: 473.3+ MB

In [4]:
# Printing out first 10 rows of the dataframe
df.head(10)

,Registered nuisance (number),year_x,green_score,livability_score_x,neighborhood_name,TotalHouses,Population,income,total_job_growth,Electricity Consumption: total (kwh),Gas consumption all homes (m3),"CO2 emissions from homes, temperature corrected (tonnes)"
0,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
1,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
2,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
3,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
4,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
5,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
6,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
7,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
8,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
9,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0

In [5]:
# Rename the "Registered nuisance (number)" column to "reg_nuisance"
df = df.rename(columns={"Registered nuisance (number)": "reg_nuisance"})

# Rename the "year_x" column to "year"
df = df.rename(columns={"year_x": "year"})

# Rename the "livability_score_x" column to "livability_score"
df = df.rename(columns={"livability_score_x": "livability_score"})

# Rename the "TotalHouses" column to "houses_amount"
df = df.rename(columns={"TotalHouses": "houses_amount"})

# Rename the "Population" column to "population"
df = df.rename(columns={"Population": "population"})

# Rename the "Electricity Consumption: total (kwh)" column to "electricity_cons"
df = df.rename(columns={"Electricity Consumption: total (kwh)": "electricity_cons"})

# Rename the "CO2 emissions from homes, temperature corrected (tonnes)" column to "co2_emi"
df = df.rename(columns={"CO2 emissions from homes, temperature corrected (tonnes)": "co2_emi"})

# Rename the "Gas consumption all homes (m3)" column to "gas_cons"
df = df.rename(columns={"Gas consumption all homes (m3)": "gas_cons"})

In [6]:
# Printing out first 10 rows of the dataframe, after renaming certain columns
df.head(10)

,reg_nuisance,year,green_score,livability_score,neighborhood_name,houses_amount,population,income,total_job_growth,electricity_cons,gas_cons,co2_emi
0,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
1,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
2,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
3,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
4,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
5,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
6,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
7,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
8,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0
9,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.80%,2880,1040.0,277797.0

In [7]:
import numpy as np

# Convert the 'gas_cons' column to int64 data type
df['gas_cons'] = df['gas_cons'].astype(np.int64)

# Convert the 'co2_emi' column to int64 data type
df['co2_emi'] = df['co2_emi'].astype(np.int64)

# Remove commas, strip '%' symbol, and convert 'total_job_growth' column to float data type
df['total_job_growth'] = df['total_job_growth'].str.replace(',', '.').str.strip('%').astype(float)

In [8]:
# Printing out information about dataframe, after changing data types of certain columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5169348 entries, 0 to 5169347
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   reg_nuisance       int64
 1   year               int64
 2   green_score        float64
 3   livability_score   float64
 4   neighborhood_name  object
 5   houses_amount      int64
 6   population         int64
 7   income             int64
 8   total_job_growth   float64
 9   electricity_cons   int64
 10  gas_cons           int64
 11  co2_emi            int64
dtypes: float64(3), int64(8), object(1)
memory usage: 473.3+ MB

In [9]:
# Printing out first 10 rows of dataframe, after applying data types changes
df.head(10)

,reg_nuisance,year,green_score,livability_score,neighborhood_name,houses_amount,population,income,total_job_growth,electricity_cons,gas_cons,co2_emi
0,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
1,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
2,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
3,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
4,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
5,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
6,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
7,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
8,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
9,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797

### 2. Plotting correlations between columns present within dataframe

In [10]:
import plotly.express as px

# Compute the correlation matrix
correlation_matrix = df.corr()

# Create a heatmap using Plotly Express
fig = px.imshow(correlation_matrix,
                labels=dict(color="Correlation"),  # Set the label for the color scale
                x=correlation_matrix.columns,  # Set the x-axis labels
                y=correlation_matrix.columns,  # Set the y-axis labels
                color_continuous_scale="Viridis",  # Set the color scale
                title="Correlations between values in the Dataframe")  # Set the title of the heatmap

# Configure the layout of the figure
fig.update_layout(
    autosize=False,  # Disable automatic size adjustment
    width=800,  # Set the width of the figure
    height=800  # Set the height of the figure
)

# Display the heatmap
fig.show()

In [11]:
# Reset the index of the dataframe
df.reset_index(drop=True, inplace=True)

In [12]:
# Printing out information on dataframe, after reseting indexes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5169348 entries, 0 to 5169347
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   reg_nuisance       int64
 1   year               int64
 2   green_score        float64
 3   livability_score   float64
 4   neighborhood_name  object
 5   houses_amount      int64
 6   population         int64
 7   income             int64
 8   total_job_growth   float64
 9   electricity_cons   int64
 10  gas_cons           int64
 11  co2_emi            int64
dtypes: float64(3), int64(8), object(1)
memory usage: 473.3+ MB

In [13]:
# Drop rows with missing values
df = df.dropna()

# Reset the index of the dataframe
df.reset_index(drop=True, inplace=True)

In [14]:
# Printing out information on dataframe, after dropping missing values and resetting indexes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3210930 entries, 0 to 3210929
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   reg_nuisance       int64
 1   year               int64
 2   green_score        float64
 3   livability_score   float64
 4   neighborhood_name  object
 5   houses_amount      int64
 6   population         int64
 7   income             int64
 8   total_job_growth   float64
 9   electricity_cons   int64
 10  gas_cons           int64
 11  co2_emi            int64
dtypes: float64(3), int64(8), object(1)
memory usage: 294.0+ MB

In [15]:
# Printing out first 10 rows after dropping missing values
df.head(10)

,reg_nuisance,year,green_score,livability_score,neighborhood_name,houses_amount,population,income,total_job_growth,electricity_cons,gas_cons,co2_emi
0,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
1,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
2,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
3,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
4,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
5,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
6,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
7,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
8,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797
9,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797

### 3. **Encoding neighborhood names**
### In this part of ML lifecycle, we will focus on encoding

In [16]:
from sklearn.preprocessing import OrdinalEncoder

# Access unique values in the 'neighborhood_name' column
unique_neighborhoods = df['neighborhood_name'].unique()

# Print the unique neighborhood names
print("Unique Neighborhood Names:")
print(unique_neighborhoods)

Unique Neighborhood Names:
['Valkenberg' 'Fellenoord' 'City' 'Belcrum' 'Biesdonk' 'Waterdonken'
 'Zandberg' 'Heusdenhout' 'Ypelaar' 'Overakker' 'Ginneken' 'Mastbos'
 'Haagpoort' 'Princenhage' 'Westerpark' 'Gageldonk' 'Kesteren'
 'Muizenberg' 'Overkroeten' 'Kroeten' 'Hagebeemd' 'Bavel'
 'Nieuw Wolfslaar' 'Ulvenhout' 'Buitengebied Ulvenhout' 'Prinsenbeek'
 'Teteringen' 'Buitengebied Teteringen' 'Liesbos' 'Effen-Rith']

In [17]:
from sklearn.preprocessing import OrdinalEncoder

# List of neighborhood names
neighborhood = [
    'Valkenberg', 'Fellenoord', 'City', 'Belcrum', 'Biesdonk', 'Waterdonken', 'Zandberg', 'Heusdenhout', 'Ypelaar',
    'Overakker', 'Ginneken', 'Mastbos', 'Haagpoort', 'Princenhage', 'Westerpark', 'Gageldonk', 'Kesteren',
    'Muizenberg', 'Overkroeten', 'Kroeten', 'Hagebeemd', 'Bavel', 'Nieuw Wolfslaar', 'Ulvenhout',
    'Buitengebied Ulvenhout', 'Prinsenbeek', 'Teteringen', 'Buitengebied Teteringen', 'Liesbos', 'Effen-Rith'
]

# Create an instance of OrdinalEncoder with specified categories
encoder = OrdinalEncoder(categories=[neighborhood])

# Fit and transform the 'neighborhood_name' column
df['neighborhood_encoded'] = encoder.fit_transform(df[['neighborhood_name']]) + 1

In [18]:
df.head(10)

,reg_nuisance,year,green_score,livability_score,neighborhood_name,houses_amount,population,income,total_job_growth,electricity_cons,gas_cons,co2_emi,neighborhood_encoded
0,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1.0
1,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1.0
2,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1.0
3,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1.0
4,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1.0
5,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1.0
6,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1.0
7,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1.0
8,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1.0
9,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1.0

In [19]:
# Convert 'neighborhood_encoded' column to 64-bit integer
df['neighborhood_encoded'] = df['neighborhood_encoded'].astype(np.int64)

In [20]:
df.head(10)

,reg_nuisance,year,green_score,livability_score,neighborhood_name,houses_amount,population,income,total_job_growth,electricity_cons,gas_cons,co2_emi,neighborhood_encoded
0,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1
1,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1
2,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1
3,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1
4,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1
5,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1
6,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1
7,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1
8,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1
9,121,2018,22.833333,2.16915,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1

In [21]:
# Filter out rows with reg_nuisance value of 0
df = df[df['reg_nuisance'] != 0].reset_index(drop=True)

In [22]:
# Group by all columns and calculate the mean
df = df.groupby(df.columns.tolist()).mean().reset_index()

In [23]:
# Printing out information on dataframe after grouping 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96613 entries, 0 to 96612
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   reg_nuisance          96613 non-null  int64
 1   year                  96613 non-null  int64
 2   green_score           96613 non-null  float64
 3   livability_score      96613 non-null  float64
 4   neighborhood_name     96613 non-null  object
 5   houses_amount         96613 non-null  int64
 6   population            96613 non-null  int64
 7   income                96613 non-null  int64
 8   total_job_growth      96613 non-null  float64
 9   electricity_cons      96613 non-null  int64
 10  gas_cons              96613 non-null  int64
 11  co2_emi               96613 non-null  int64
 12  neighborhood_encoded  96613 non-null  int64
dtypes: float64(3), int64(9), object(1)
memory usage: 9.6+ MB

In [24]:
# Sorting dataframe by ascending neighourbood_encoded values
df.sort_values('neighborhood_encoded', ascending=True, inplace=True)

In [25]:
# Printing out first 10 rows of dataframe, after grouping and sorting
df.head(10)

,reg_nuisance,year,green_score,livability_score,neighborhood_name,houses_amount,population,income,total_job_growth,electricity_cons,gas_cons,co2_emi,neighborhood_encoded
61073,33,2014,41.666667,2.145077,Valkenberg,80717,1905,1800,-0.8,3100,1010,304149,1
60952,32,2018,22.500000,2.278059,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1
60953,32,2018,22.500000,2.362862,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1
60954,32,2018,22.666667,2.311084,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1
60955,32,2018,22.833333,2.169150,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1
60956,32,2018,22.833333,2.264211,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1
60957,32,2018,22.833333,2.337010,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1
60958,32,2018,23.000000,2.325074,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1
60959,32,2018,23.000000,2.362862,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1
60960,32,2018,23.166667,2.121696,Valkenberg,83253,1960,1800,-0.8,2880,1040,277797,1

In [26]:
# Saving preprocessed dataframe to CSV file, for ML purposes
df.to_csv('final_ML.csv', index=False)

### **4. Exploring different ML models, to determine which one is the best performing one**
### In this block of code, we are exploring different ML models, which potentially can be used in the final product.
### We are testing models such as voting regressor, random forest regressor, linear regression and decision tree regressor.
### Based on initial training, by printing evaluation metrics such as Mean Squared Error, Mean Absolute Error and R Squared Error, we will determin, which model is performing the best!

In [27]:
import pandas as pd
from sklearn.ensemble import VotingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

def evaluate_voting_regressor(df):
    """
    Perform evaluation of a VotingRegressor model using multiple individual regression models.

    Args:
        df (pandas.DataFrame): Input DataFrame containing the data.

    Returns:
        dict: Dictionary containing evaluation scores for each individual model and the VotingRegressor model.
    """
    # Select the features and target variable
    features = ['reg_nuisance', 'year', 'livability_score', 'houses_amount', 'population', 'income', 'total_job_growth', 'electricity_cons', 'gas_cons', 'co2_emi', 'neighborhood_encoded']
    target = 'green_score'

    # Split the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(df[features], df[target], test_size=0.2, random_state=42)

    # Create the individual regression models
    decision_tree = DecisionTreeRegressor(random_state=42)
    random_forest = RandomForestRegressor(n_estimators=100, random_state=42)
    linear_regression = LinearRegression()

    # Fit the individual regression models
    decision_tree.fit(X_train, y_train)
    random_forest.fit(X_train, y_train)
    linear_regression.fit(X_train, y_train)

    # Create the VotingRegressor model with multiple models
    voting_regressor = VotingRegressor([
        ('decision_tree', decision_tree),
        ('random_forest', random_forest),
        ('linear_regression', linear_regression)
    ])
    
    # Train the VotingRegressor model
    voting_regressor.fit(X_train, y_train)

    # Make predictions on the test set
    y_pred = voting_regressor.predict(X_test)

    # Evaluate each individual model
    models = [decision_tree, random_forest, linear_regression]
    model_names = ['Decision Tree', 'Random Forest', 'Linear Regression']

    evaluation_scores = {}

    for model, name in zip(models, model_names):
        y_pred_model = model.predict(X_test)
        mse = mean_squared_error(y_test, y_pred_model)
        mae = mean_absolute_error(y_test, y_pred_model)
        r2 = r2_score(y_test, y_pred_model)

        evaluation_scores[name] = {
            "Mean Squared Error": mse,
            "Mean Absolute Error": mae,
            "R2 Score": r2
        }

    # Evaluate the VotingRegressor model
    mse_voting = mean_squared_error(y_test, y_pred)
    mae_voting = mean_absolute_error(y_test, y_pred)
    r2_voting = r2_score(y_test, y_pred)

    evaluation_scores["Voting Regressor"] = {
        "Mean Squared Error": mse_voting,
        "Mean Absolute Error": mae_voting,
        "R2 Score": r2_voting
    }

    return evaluation_scores

evaluation_results = evaluate_voting_regressor(df)

# Print evaluation scores for each model
for model_name, scores in evaluation_results.items():
    print("Evaluation scores for", model_name)
    for metric, value in scores.items():
        print(metric + ":", value)
    print("--------------------------")

Evaluation scores for Decision Tree
Mean Squared Error: 42.294800652294654
Mean Absolute Error: 4.866534678979742
R2 Score: 0.6277438910342733
--------------------------
Evaluation scores for Random Forest
Mean Squared Error: 41.10718112793872
Mean Absolute Error: 4.815895491709463
R2 Score: 0.6381966799409514
--------------------------
Evaluation scores for Linear Regression
Mean Squared Error: 101.13498899968512
Mean Absolute Error: 8.217505491306103
R2 Score: 0.10986416995272441
--------------------------
Evaluation scores for Voting Regressor
Mean Squared Error: 45.398266118260324
Mean Absolute Error: 5.332786382468995
R2 Score: 0.6004288555960531
--------------------------

### 5. **ML models Tuning - Iteration**
### In this block, we are iterating on the selected models, by applying feature engineering techniques as Label Encoding and Feature Scaling
Label encoding is appropriate for model iteration and tuning because it converts categorical variables into numerical labels, allowing the model to work with the encoded representation. This is important because many machine learning algorithms only accept numerical inputs. Label encoding enables the model to understand the relationship between different categories and make better predictions.

Feature scaling is crucial for model iteration and tuning because it brings features to a similar scale, preventing certain features from dominating the model's learning process. Scaling ensures that each feature contributes equally to the model's performance and prevents bias towards features with larger values. It facilitates stable and efficient model training, especially for algorithms that rely on distance calculations or gradient-based optimization methods. Scaling enhances the interpretability of feature importance and improves the model's generalization ability.

In [28]:
import pandas as pd
from sklearn.ensemble import VotingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import StandardScaler, LabelEncoder

def evaluate_voting_regressor_tuned(df):
    """
    Perform evaluation of a VotingRegressor model using multiple individual regression models based on added feature engineering techniques.

    Args:
        df (pandas.DataFrame): Input DataFrame containing the data.

    Returns:
        dict: Dictionary containing evaluation scores for each individual model and the VotingRegressor model.
    """
    # Select the features and target variable
    features = ['reg_nuisance', 'year', 'livability_score', 'houses_amount', 'population', 'income', 'total_job_growth', 'electricity_cons', 'gas_cons', 'co2_emi', 'neighborhood_encoded']
    target = 'green_score'

    # Preprocessing

    # Encoding categorical feature 'neighborhood_encoded'
    label_encoder = LabelEncoder()
    df['neighborhood_encoded'] = label_encoder.fit_transform(df['neighborhood_encoded'])

    # Scaling numerical features
    scaler = StandardScaler()
    df[features] = scaler.fit_transform(df[features])

    # Split the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(df[features], df[target], test_size=0.2, random_state=42)

    # Create the individual regression models
    decision_tree = DecisionTreeRegressor(random_state=42)
    random_forest = RandomForestRegressor(n_estimators=100, random_state=42)
    linear_regression = LinearRegression()

    # Fit the individual regression models
    decision_tree.fit(X_train, y_train)
    random_forest.fit(X_train, y_train)
    linear_regression.fit(X_train, y_train)

    # Create the VotingRegressor model with multiple models
    voting_regressor = VotingRegressor([
        ('decision_tree', decision_tree),
        ('random_forest', random_forest),
        ('linear_regression', linear_regression)
    ])

    # Train the VotingRegressor model
    voting_regressor.fit(X_train, y_train)

    # Make predictions on the test set
    y_pred = voting_regressor.predict(X_test)

    # Evaluate each individual model
    models = [decision_tree, random_forest, linear_regression]
    model_names = ['Decision Tree', 'Random Forest', 'Linear Regression']

    evaluation_scores = {}

    for model, name in zip(models, model_names):
        y_pred_model = model.predict(X_test)
        mse = mean_squared_error(y_test, y_pred_model)
        mae = mean_absolute_error(y_test, y_pred_model)
        r2 = r2_score(y_test, y_pred_model)

        evaluation_scores[name] = {
            "Mean Squared Error": mse,
            "Mean Absolute Error": mae,
            "R2 Score": r2
        }

    # Evaluate the VotingRegressor model
    mse_voting = mean_squared_error(y_test, y_pred)
    mae_voting = mean_absolute_error(y_test, y_pred)
    r2_voting = r2_score(y_test, y_pred)

    evaluation_scores["Voting Regressor"] = {
        "Mean Squared Error": mse_voting,
        "Mean Absolute Error": mae_voting,
        "R2 Score": r2_voting
    }

    return evaluation_scores

# Load the dataframe

# Call the function to evaluate the VotingRegressor model
evaluation_results = evaluate_voting_regressor_tuned(df)

# Print evaluation scores for each model
for model_name, scores in evaluation_results.items():
    print("Evaluation scores for", model_name)
    for metric, value in scores.items():
        print(metric + ":", value)
    print("--------------------------")

Evaluation scores for Decision Tree
Mean Squared Error: 42.29583676642463
Mean Absolute Error: 4.866668371125544
R2 Score: 0.6277347717144393
--------------------------
Evaluation scores for Random Forest
Mean Squared Error: 41.107616200791604
Mean Absolute Error: 4.815952460778019
R2 Score: 0.6381928506634792
--------------------------
Evaluation scores for Linear Regression
Mean Squared Error: 101.13452932834545
Mean Absolute Error: 8.217458109241631
R2 Score: 0.10986821573285988
--------------------------
Evaluation scores for Voting Regressor
Mean Squared Error: 45.398244708015675
Mean Absolute Error: 5.3328464796661486
R2 Score: 0.6004290440375222
--------------------------

### **6. Conclusion on the models**
Considering the evaluation scores, we have decided to choose the Random Forest regressor as the final deliverable model. The Random Forest model demonstrates better accuracy in predicting the green score compared to the Decision Tree and Linear Regression models. It achieves lower values for both the Mean Squared Error (MSE) and Mean Absolute Error (MAE), indicating better overall prediction performance. The R2 Score, which represents the proportion of the variance in the target variable explained by the model, is also higher for the Random Forest model.

Moreover, Random Forest models have the advantage of providing feature importances, allowing us to gain insights into the relative importance of different factors influencing the green score in Breda. This feature interpretability is crucial for understanding the underlying relationships and making informed decisions to improve the city's green initiatives. By utilizing the Random Forest model, we can effectively analyse the factors influencing the green score and identify areas where interventions and improvements can be made.

### **7. Future improvements**
In order to further improve the Random Forest regressor model as our final deliverable, several future enhancements can be considered. First, hyperparameter tuning techniques such as grid search or random search can be employed to optimize the model's parameters and improve its predictive accuracy. Second, exploring additional features or transforming existing ones can capture more relevant information related to the green score. Ensemble learning methods like stacking or boosting can be investigated to combine multiple Random Forest models and leverage their strengths. Cross-validation techniques, such as k-fold cross-validation, can provide more reliable performance estimates. Additionally, interpreting the model's results can be enhanced by utilizing techniques like partial dependence plots, permutation importance, or SHAP values. Regularly updating the dataset with new information and collaborating with domain experts can ensure the model's accuracy and relevance over time. Lastly, performing error analysis will help identify specific areas for improvement and enhance the model's overall performance and applicability in improving the green score in Breda.