In [1]:
import pandas as pd
import plotly.express as px
from googletrans import Translator

In [2]:
carbon_data = pd.read_excel('C:/Users/tatar/OneDrive - BUas/Desktop/Buas/GreenScape/EDA/Matyas/breda_emissions_excel- Breda.xlsx', header=1)
carbon_df = pd.DataFrame(carbon_data)

c:\Users\tatar\anaconda3\envs\verbeterenv\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
carbon_df.head()

,Unnamed: 0,Elektriciteitsverbruik: totaal [kwh],Aardgasverbruik: totaal [m3],"Energieverbruik (incl. hern. warmte, zonnestroom 'achter de meter' en auto(snel)wegen) [TJ]",Elektriciteitsverbruik alle woningen [kwh],Gasverbruik alle woningen [m3],Elektriciteitsverbruik bedrijven en instellingen [kwh],Gasverbruik bedrijven en instellingen [m3],Hernieuwbare elektriciteit [TJ],Hernieuwbare energie [TJ],Vermogen geregistreerde zonnepanelen woningen [kWpiek],Vermogen geregistreerde zonnepanelen bedrijven [kWpiek],Aantal installaties met geregistreerde zonnepanelen woningen [aantal],Aantal installaties met geregistreerde zonnepanelen bedrijven [aantal],Hernieuwbare energie [%],Hernieuwbare elektriciteit [%],"CO2-uitstoot Verkeer en vervoer incl. auto(snel)wegen, excl. elektr. railverkeer (scope 1, tier 1) [ton]",CO2-uitstoot Bedrijven en instellingen [ton],"CO2-uitstoot Woningen, temperatuurgecorrigeerd (sjv gas en elektr., tier 3 en warmte, tier 2) [ton]",CO2-uitstoot totaal [ton]
0,2011,3300,1250.0,16385.0,3280.0,1260.0,569160000.0,92868000,10.0,393.0,NaN,NaN,NaN,NaN,0.024,0.004,406592.0,417696,307039.0,1131300.0
1,2010,3300,1650.0,17038.0,3300.0,1670.0,574426000.0,?,11.0,333.0,NaN,NaN,NaN,NaN,0.020,0.004,410119.0,?,322296.0,1201300.0
2,2012,3250,1300.0,16144.0,3250.0,1340.0,568489000.0,94180000,24.0,418.0,1305.0,371.0,455.0,62.0,0.026,0.008,398502.0,436683,311324.0,1146500.0
3,2013,3200,1400.0,15840.0,3210.0,1400.0,561871000.0,92677000,42.0,452.0,2867.0,1016.0,931.0,113.0,0.029,0.015,390382.0,435950,308836.0,1135200.0
4,2014,3100,1000.0,14692.0,3110.0,1010.0,530669000.0,74669000,50.0,490.0,4364.0,1969.0,1343.0,152.0,0.033,0.018,390139.0,400246,304149.0,1094500.0

In [4]:
carbon_df.rename(columns={'Unnamed: 0' : 'Year'}, inplace = True)
carbon_df.head()

,Year,Elektriciteitsverbruik: totaal [kwh],Aardgasverbruik: totaal [m3],"Energieverbruik (incl. hern. warmte, zonnestroom 'achter de meter' en auto(snel)wegen) [TJ]",Elektriciteitsverbruik alle woningen [kwh],Gasverbruik alle woningen [m3],Elektriciteitsverbruik bedrijven en instellingen [kwh],Gasverbruik bedrijven en instellingen [m3],Hernieuwbare elektriciteit [TJ],Hernieuwbare energie [TJ],Vermogen geregistreerde zonnepanelen woningen [kWpiek],Vermogen geregistreerde zonnepanelen bedrijven [kWpiek],Aantal installaties met geregistreerde zonnepanelen woningen [aantal],Aantal installaties met geregistreerde zonnepanelen bedrijven [aantal],Hernieuwbare energie [%],Hernieuwbare elektriciteit [%],"CO2-uitstoot Verkeer en vervoer incl. auto(snel)wegen, excl. elektr. railverkeer (scope 1, tier 1) [ton]",CO2-uitstoot Bedrijven en instellingen [ton],"CO2-uitstoot Woningen, temperatuurgecorrigeerd (sjv gas en elektr., tier 3 en warmte, tier 2) [ton]",CO2-uitstoot totaal [ton]
0,2011,3300,1250.0,16385.0,3280.0,1260.0,569160000.0,92868000,10.0,393.0,NaN,NaN,NaN,NaN,0.024,0.004,406592.0,417696,307039.0,1131300.0
1,2010,3300,1650.0,17038.0,3300.0,1670.0,574426000.0,?,11.0,333.0,NaN,NaN,NaN,NaN,0.020,0.004,410119.0,?,322296.0,1201300.0
2,2012,3250,1300.0,16144.0,3250.0,1340.0,568489000.0,94180000,24.0,418.0,1305.0,371.0,455.0,62.0,0.026,0.008,398502.0,436683,311324.0,1146500.0
3,2013,3200,1400.0,15840.0,3210.0,1400.0,561871000.0,92677000,42.0,452.0,2867.0,1016.0,931.0,113.0,0.029,0.015,390382.0,435950,308836.0,1135200.0
4,2014,3100,1000.0,14692.0,3110.0,1010.0,530669000.0,74669000,50.0,490.0,4364.0,1969.0,1343.0,152.0,0.033,0.018,390139.0,400246,304149.0,1094500.0

In [5]:
translation = {'Elektriciteitsverbruik: totaal [kwh]' : 'Electricity Consumption: total (kwh)',
               'Aardgasverbruik: totaal [m3]' : 'Natural Gas Consumption (m3)',
               'Energieverbruik (incl. hern. warmte, zonnestroom (achter de meter) en auto(snel)wegen) [TJ]': 'Energy Consumption (including regenerative heat, solar power, motorways) (TJ)',
               'Elektriciteitsverbruik alle woningen [kwh]' : 'Electricity consumption of all homes (kwh)',
               'Gasverbruik alle woningen [m3]' : 'Gas consumption all homes (m3)',
               'Elektriciteitsverbruik bedrijven en instellingen [kwh]' : 'Electricity consumption companies and institutions (kwh)',
               'Gasverbruik bedrijven en instellingen [m3]' : 'Gas consumption by companies and institutions (m3)',
               'Hernieuwbare elektriciteit [TJ]' : 'Renewable electricity (TJ)',
               'Hernieuwbare energie [TJ]' : 'Renewable energy (TJ)',
               'Vermogen geregistreerde zonnepanelen woningen [kWpiek]' : 'Power of registered solar panels homes (kw peak)',
               'Vermogen geregistreerde zonnepanelen bedrijven [kWpiek]' : 'Power of registered solar panels companies (kw peak)',
               'Aantal installaties met geregistreerde zonnepanelen woningen [aantal]' : 'Number of installations with registered solar panels in homes (number)',
               'Aantal installaties met geregistreerde zonnepanelen bedrijven [aantal]' : 'Number of installations with registered solar panel companies (number)',
               'Hernieuwbare energie [%]' : 'Renewable energy (%)',
               'Hernieuwbare elektriciteit [%]' : 'Renewable electricity (%)', 
               'CO2-uitstoot Verkeer en vervoer incl. auto(snel)wegen, excl. elektr. railverkeer (scope 1, tier 1) [ton]' : 'CO2 emissions Traffic and transport incl. motorways and roads, excl. electr. rail traffic (tonnes)',
               'CO2-uitstoot Bedrijven en instellingen [ton]' : 'CO2 emissions companies and institutions (tonnes)',
               'CO2-uitstoot Woningen, temperatuurgecorrigeerd (sjv gas en elektr., tier 3 en warmte, tier 2) [ton]' : 'CO2 emissions from homes, temperature corrected (tonnes)',
               'CO2-uitstoot totaal [ton]' : 'CO2 emissions total (tonnes)'
               }

In [6]:
carbon_df = carbon_df.rename(columns=translation)

In [7]:
carbon_df.head()

,Year,Electricity Consumption: total (kwh),Natural Gas Consumption (m3),"Energieverbruik (incl. hern. warmte, zonnestroom 'achter de meter' en auto(snel)wegen) [TJ]",Electricity consumption of all homes (kwh),Gas consumption all homes (m3),Electricity consumption companies and institutions (kwh),Gas consumption by companies and institutions (m3),Renewable electricity (TJ),Renewable energy (TJ),Power of registered solar panels homes (kw peak),Power of registered solar panels companies (kw peak),Number of installations with registered solar panels in homes (number),Number of installations with registered solar panel companies (number),Renewable energy (%),Renewable electricity (%),"CO2 emissions Traffic and transport incl. motorways and roads, excl. electr. rail traffic (tonnes)",CO2 emissions companies and institutions (tonnes),"CO2 emissions from homes, temperature corrected (tonnes)",CO2 emissions total (tonnes)
0,2011,3300,1250.0,16385.0,3280.0,1260.0,569160000.0,92868000,10.0,393.0,NaN,NaN,NaN,NaN,0.024,0.004,406592.0,417696,307039.0,1131300.0
1,2010,3300,1650.0,17038.0,3300.0,1670.0,574426000.0,?,11.0,333.0,NaN,NaN,NaN,NaN,0.020,0.004,410119.0,?,322296.0,1201300.0
2,2012,3250,1300.0,16144.0,3250.0,1340.0,568489000.0,94180000,24.0,418.0,1305.0,371.0,455.0,62.0,0.026,0.008,398502.0,436683,311324.0,1146500.0
3,2013,3200,1400.0,15840.0,3210.0,1400.0,561871000.0,92677000,42.0,452.0,2867.0,1016.0,931.0,113.0,0.029,0.015,390382.0,435950,308836.0,1135200.0
4,2014,3100,1000.0,14692.0,3110.0,1010.0,530669000.0,74669000,50.0,490.0,4364.0,1969.0,1343.0,152.0,0.033,0.018,390139.0,400246,304149.0,1094500.0

In [8]:
carbon_df = carbon_df.sort_values('Year')

In [9]:
fig = px.line(carbon_df, x = 'Year', y = "Electricity Consumption: total (kwh)")
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [12]:
emissions_and_renewables = carbon_df.to_csv('emissions_and_renewables.csv.zip', index=False)