In [2]:
import pandas as pd
import numpy as np

In [6]:
pd.read_fwf('Merged')

,",year_x,latitude,longitude,cbs_grid_code,date,green_score,livability_score_x,neighborhood_name,TotalHouses,Population,Unnamed: 0,index,neighborhood,regions,year_y,livability_score_y,income,population,working_population,total_job_growth,Neighborhood,Income","Index,Average",Green,"Score,Income"
0,"0,2018,51.624016,4.7395706,E1101N4041,2018-09-...",NaN,NaN,NaN
1,"1,2018,51.624016,4.7395706,E1101N4041,2018-09-...",NaN,NaN,NaN
2,"2,2018,51.624016,4.7395706,E1101N4041,2018-09-...",NaN,NaN,NaN
3,"3,2018,51.624016,4.7395706,E1101N4041,2018-09-...",NaN,NaN,NaN
4,"4,2018,51.624016,4.7395706,E1101N4041,2018-09-...",NaN,NaN,NaN
...,...,...,...,...
513278,"513278,2016,51.549714772,4.7300114245,E1094N39...",NaN,NaN,NaN
513279,"513279,2016,51.549714772,4.7300114245,E1094N39...",NaN,NaN,NaN
513280,"513280,2016,51.549714772,4.7300114245,E1094N39...",NaN,NaN,NaN
513281,"513281,2016,51.549714772,4.7300114245,E1094N39...",NaN,NaN,NaN
513282,"513282,2016,51.549714772,4.7300114245,E1094N39...",NaN,NaN,NaN